VITE_SANITY_PROJECT_ID="ID do projeto Sanity"
VITE_SANITY_DATASET="Nome do dataset Sanity"
VITE_SANITY_API_VERSION= "Versão da API Sanity"
VITE_CLI_APP_ID="ID da aplicação CLI Sanity"
VITE_SANITY_TOKEN="Token de acesso Sanity"
VITE_GOOGLE_SCRIPT_URL="URL do script do Google"
VITE_FORM_TOKEN="Token do formulário"